body {
  background: black;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: daynight 20s ease infinite;
}

@keyframes daynight {
  0%, 10% {
    background: #81bcef;
  }
  50%, 75% {
    background: #04073d;
  }
  100% {
    background: #81bcef;
  }
}

.container>div {
  position: absolute;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/** Cloud styles **/

.clouds {
  flex-direction: column;
  justify-content: center;
}

.cloud {
  width: 150px;
  min-height: 50px;
  border-radius: 50px;
  background: white;
  position: relative;
  margin-top: 50px;
  z-index: 2;
  animation: cloud-move 25s linear infinite, cloud-reflect 10s linear alternate infinite;
}

.cloud::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  top: -20px;
  left: 30px;
  animation: cloud-reflect 10s linear alternate infinite;
}

.cloud::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  top: -33px;
  right: 21px;
  animation: cloud-reflect 10s linear alternate infinite;
}

.clouds .top {
  animation: cloud-move 40s linear infinite, cloud-reflect 10s linear alternate infinite;
}

.clouds .bottom {
  animation: cloud-move 70s linear infinite, cloud-reflect 10s linear alternate infinite;
}

@keyframes cloud-reflect {
  0% {
    background: white;
  }
  100% {
    background: #666;
  }
}

@keyframes cloud-move {
  0% {
    transform: translateX(-160px);
  }
  100% {
    transform: translateX(100vw);
  }
}

/** Mountain styles **/

.mountain {
  bottom: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid green;
  z-index: 3;
}

.mountains>.center {
  margin: 0px auto;
}

.mountains>.left, .mountains>.right {
  z-index: 1;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid green;
}

/** Sun styles **/

.sun-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: yellow;
  box-shadow: 0 0 20px 10px rgba(177, 171, 28, 0.75);
  position: absolute;
  left: 50px;
  -webkit-animation: sundown 10s ease alternate infinite;
  animation: sundown 10s ease alternate infinite;
}

@keyframes sundown {
  0%, 25% {
    transform: translateY(50px);
  }
  75%, 100% {
    transform: translateY(110vh);
  }
}

/** Sun styles **/

.moon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ccc;
  box-shadow: 0 0 20px 10px RGBA(255, 255, 255, 0.5);
  position: absolute;
  right: 50px;
  -webkit-animation: moondown 10s ease alternate infinite;
  animation: moondown 10s ease alternate infinite;
}

@keyframes moondown {
  0%, 25% {
    transform: translateY(110vh);
  }
  75%, 100% {
    transform: translateY(50px);
  }
}